html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Overpass, sans-serif;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  margin: .5em;
}

h2 {
  margin: .5em;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1em;
}

.section .part {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.icon svg {
  fill: currentColor;
  width: 7rem;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  border: .5px solid #fff;
  padding: 1rem;
  margin: 0 1.5em;
}
